mixin sProdCard()
	// start sProdCard
	+b.SECTION.sProdCard.section#sProdCard&attributes(attributes)
		+BlueStrip()
		.container(data-sticky-container)
			block
			+e.row.row
				+e.slider-col.col-lg-8
					+b.prod-card-slider
						.swiper-container.prod-card-slider-js
							.swiper-wrapper
								+prodCardSlide(1)
								+prodCardSlide(2)
								+prodCardSlide(3)
								+prodCardSlide(4)
								+prodCardSlide(5)
						+e.thumb
							.swiper-container.prod-card-thumb-js
								.swiper-wrapper
									+prodCardThumb(1)
									+prodCardThumb(2)
									+prodCardThumb(3)
									+prodCardThumb(4)
									+prodCardThumb(5)
					+e.nav-col
						.sticky-js(data-margin-top="140")
							+e.top-nav-bar
								+e.br-links
									a(href="#") New
									a(href="#") Sale
								+e.like-share-cont
									a.heart-link(href="#")
										+icon('heart')
									a(href="#")
										+icon('stat')
									a(href="#")
										+icon('share')
							+e.A.brand-link(href="#") Asics
							+e.H1.prod-name Men&rsquo;s shoes sneakers ASICS GEL-Nimbus 22 White/Electric Blue
							+e.article-txt Article 1011A780100
							+e.old-price-strip
								+e.old-price-txt 189 €
								+e.discount - 20%
							+e.new-price-strip
								+e.new-price-txt 89 €
								+b.timer-box.timer-box-js
									+e.icon-cont
										+icon('sand-clock')
									+e.item
										.days 2
										+e.small day
									+e.item
										.hours  17
										+e.small hr
									+e.item
										.minutes 35
										+e.small min
									+e.item
										.seconds 17
										+e.small sec
							+b.chars-pills-strip.d-none.d-sm-block
								a(href="#") 10€/kg
								a(href="#") Tax included
								a(href="#") Something else
								
							+b.chars-pills-strip.d-none.d-sm-block
								span 10€/kg
								span Tax included
								span Something else

							+e.other-items
								+otherItem(1, true)(class='active')
								+otherItem(2, true)
								+otherItem(3)
								+otherItem(4)
								+otherItem(5)
							+e.color-likns.d-none.d-lg-flex
								mixin radio()
									label.color-radio
										input(name="color" type="radio")
										block
								+radio
									span( style="color: #287EFF; background-color: #287EFF;")
								+radio
									span( style="color: #FF4949; background-color: #FF4949;")
								+radio
									span( style="color: #F8CC43; background-color: #F8CC43;")
								+radio
									span( style="color: #1ECBCB; background-color: #1ECBCB;")
								+radio
									span( style="color: #000000; background-color: #000000;")
								+radio
									span( style="color: #F35321; background-color: #F35321;")
							+e.size-bar
								+e.size-bar-top
									+b.size-type-select
										+countrSizeSelct()
									+e.A.size-table-link(href="#") Size table
								+e.size-bar-pills
									a.active(href="#") 42
									a(href="#") 42 ½
									a.red-doted(href="#") 43
									a.red-doted(href="#") 43H
									a.disabled(href="#") 44
								+b.size-select
									+SizeSelct()
							+b.toggle-pills-box
								+togglePillItem('Product castomization')
								+e.add-strip
									+form-wrap()
										+e.add-inp-box
											+e.add-control-btn.minus-btn -
											+input(class="prod-amount-inp-js", value='999', min="1", max="999")
											+e.add-control-btn.plus-btn +
										+e.A.add-btn.fixed-hook-js(href="#") add to cart
								+b.caution-box
									+e.caution.danger Last item in stock
									+e.caution.warning Product available with different options
								+e.get-video-call
									+e.get-video-content
										+icon('video-consult')
										span Get a video consultation
								+togglePillSolidItem('Availability')
									+solidContentSubItem('#1ECBCB')
										| In stock
									+solidContentSubItem('#287EFF')
										| Under
										br
										| the order
								+togglePillSolidItem('Delivery')
									+solidContentSubItem('#1ECBCB')
										| In stock
									+solidContentSubItem('#287EFF')
										| Under
										br
										| the order
							+b.policy-links
								+e.A.link(href="#")
									+e.icon.car
										+icon('delivery-car')
									span Delivery policy
								+e.A.link(href="#")
									+e.icon.arrows
										+icon('return-arrows')
									span Return policy
					+e.tabs-cont.tabs
						+e.tabs-slider
							.swiper-container.prod-card-tabs-js
								.swiper-wrapper.tabs__caption
									.swiper-slide.tabs__btn.active ABOUT PRODUCT
									.swiper-slide.tabs__btn CHARACTERISTICS
									.swiper-slide.tabs__btn TECHNOLOGIES
									.swiper-slide.tabs__btn ABOUT BRAND
						+e.tabs-content.tabs__wrap
							+e.tabs-conent-item.tabs__content.active
								+e.txt-block
									p The new GEL-Nimbus 22&nbsp;model, which is&nbsp;part of&nbsp;the top ASICS line, is&nbsp;endowed with greater comfort, stability and speed than its previous versions.
									p The jacquard mesh was chosen as&nbsp;the material of&nbsp;the top, with a&nbsp;thoughtful pattern in&nbsp;strategic zones, which allows you to&nbsp;adjust the degree of&nbsp;breathability and fit of&nbsp;the foot.
									p ASICS engineers equipped these sneakers with a&nbsp;modified Gel shock-absorbing block in&nbsp;the heel and added 2&nbsp;millimeters of&nbsp;energy-resistant Flytefoam Propel to&nbsp;the midsole.
									p Stability of&nbsp;movement is&nbsp;supported by&nbsp;Trusstic technology, which reinforces the outer region of&nbsp;the midfoot and counteracts the twisting effect.
									p The highly abrasive Ahar + rubber is&nbsp;located in&nbsp;the zones of&nbsp;maximum outsole load, which are located both in&nbsp;the heel part and in&nbsp;the toe area.
									p GEL-Nimbus 22&nbsp;is a&nbsp;model of&nbsp;reliability and comfort for runners with a&nbsp;neutral foot position, who prefer running from the heel and midfoot.
									p In&nbsp;these sneakers, you can run a&nbsp;distance of&nbsp;any length.
								ul
									li adaptive fit;
									li jacquard mesh;
									li Socklining Eva OrthoLite&nbsp;&mdash; lightweight, soft, durable, comfortable molded insole made of&nbsp;Eva polymer;
									li Gel&nbsp;&mdash; technology of&nbsp;depreciation and shock absorption in&nbsp;the heel and toe;
									li Trusstic System&nbsp;&mdash; a&nbsp;thermoplastic insert under the elevator of&nbsp;the foot provides stability, reduces weight and extends the life of&nbsp;the sole;
									li Flytefoam Propel&nbsp;&mdash; the upper layer of&nbsp;the sole creates a&nbsp;high degree of&nbsp;recoil during deformation, providing a&nbsp;springy effect;
									li Flyte Foam&nbsp;&mdash; improved sole technology, the lightest material in&nbsp;the history of&nbsp;the brand, excellent cushioning and energy return;
									li 3d&nbsp;Full Contact&nbsp;&mdash; the design covers the entire arch of&nbsp;the foot, maximum contact with the surface in&nbsp;each phase of&nbsp;running;
									li Ahar + - high-carbon rubber, developed by&nbsp;ASICS, anti-abrasion of&nbsp;soles in&nbsp;places of&nbsp;maximum load.
							+e.tabs-conent-item.tabs__content
								| 222
							+e.tabs-conent-item.tabs__content
								| 333
							+e.tabs-conent-item.tabs__content
								| 444
					+e.overview-bl
						+e.overview-headline Overview
						+e.A.overview-link(data-fancybox="video" href="https://www.youtube.com/watch?v=en6gms6e54Q&list=PLIU76b8Cjem5B3sufBJ_KFTpKkMEvaTQR")
							+e.overview-img
								img.lazy(data-src="img/@2x/02-overview.jpg" src='#' alt="")
							+e.play-btn-cont
								+e.play-btn
	// end sProdCard
mixin BlueStrip()
	+b.bottom-fixed-strip.d-xl-none
		+e.img-cont
			img.lazy(data-src='img/@2x/02-slider-1.jpg' src="#" alt="")
		+e.price-bl
			+e.discount -20%
			+e.price
				span 89 €
				span 189 €
		+form-wrap()
			+e.add-inp-box.d-none.d-md-flex
				+e.add-control-btn-fixed.minus-btn -
				+input(class="prod-amount-inp-js-fixed", value='999', min="1", max="999")
				+e.add-control-btn-fixed.plus-btn +
			+e.A.add-btn(href="#") buy
		+e.icons-bl.d-none.d-md-flex
			a(href="#")
				+e.icon-img-cont.heart-icon-cont
					img(src="img/like-img.svg" alt="")
				span Favorites
			a(href="#")
				+e.icon-img-cont
					img(src="img/stat-img.svg" alt="")
				span Comparison
			a(href="#")
				+e.icon-img-cont
					img(src="img/bag-img.svg" alt="")
				span Basket

mixin solidContentSubItem(statusColor='red', shopTxt='Shop №1', address='Voronovo, Kaluga highway, 40 km from MKAD')
	+e.solid-subitem
		+e.solid-info
			+e.solid-shop=shopTxt
			+e.solid-address=address
		+e.solid-status(style=`color: ${statusColor};`)
			block

mixin togglePillItem(headlineTxt)
	+b.custom-form
		+e.header.cust-head-js
			span=headlineTxt
			+icon('chevron-down')
		+e.content.cust-content-js
			+form-wrap
				+e.sm-title Don't forget to save your customization to be able to add to cart
				//-1
				+e.add-file
					+e.title file Header
					+b.inp-file
						label
							+e.INPUT.input(name='file', type='file')
							+e.SPAN.filename
							+e.SPAN.btn
								+icon('inp-file')
					+e.info-txt .png .jpg .gif
				//-
				+e.input-wrap
					+e.title text Header
					+e.INPUT.input.form-control(type="text")
					+e.info-txt 250 char. max
				//-
				+e.input-wrap
					+e.title text
					+e.INPUT.input.form-control(type="text")
					+e.info-txt 250 char. max
				+e.btn-cont
					+e.save-btn(type="submit") save
			//-block

mixin togglePillSolidItem(headlineTxt, keyClass)
	+e.solid-item-cont
		+e.solid-header.prod-nav-header-js(class=keyClass)
			span=headlineTxt
			+icon('chevron-down')
		+e.solid-content.prod-nav-content-js(class=keyClass)
			block

mixin SizeSelct(selectName, optionsArr=['1', '2', '3'], placeholder='', keyClass='custom-select2-margined')
	select(class=keyClass name=selectName data-placeholder=placeholder)
		option(value="" label='#')
		option(value="90×60×90 cm" selected) 90×60×90 cm
		- for (let item of optionsArr)
			option(value=item)=`90×60×90 cm ${item}`

mixin countrSizeSelct(selectName, optionsArr=['CM', 'UK', 'US'], placeholder='', keyClass='custom-select2')
	select(class=keyClass name=selectName data-placeholder=placeholder)
		option(value="" label='#')
		option(value="EUR" selected) EUR
		- for (let item of optionsArr)
			option(value=item)=item


mixin otherItem(imgNum, hasDiscount=false)
	+e.A.other-item(href='#')&attributes(attributes)
		+e.other-item-content
			img.lazy(data-src=`img/@2x/02-other-item-${imgNum}.jpg` src='#' alt='')
			if hasDiscount
				.discount - 20%

mixin prodCardSlide(imgNum)
	.swiper-slide.prod-card-slide
		+e.A.slide-link(data-fancybox="prodCardGroup" href=`img/@2x/02-slider-${imgNum}.jpg`)
			+e.img-cont
				img.swiper-lazy(data-src=`img/@2x/02-slider-${imgNum}.jpg` src="#" alt="")

mixin prodCardThumb(imgNum)
	.swiper-slide
		+e.thumb-img
			img(src=`img/@2x/02-slider-${imgNum}.jpg` alt="")
			//-.swiper-lazy(src="#" data-